.counter {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    background: #289CE9;
    background: -moz-linear-gradient(top, #289CE9 0%, #2388CA 50%, #144E74 100%);
    background: -webkit-linear-gradient(top, #289CE9 0%, #2388CA 50%, #144E74 100%);
    background: linear-gradient(to bottom, #289CE9 0%, #2388CA 50%, #144E74 100%);
    color: white;
    font-weight: bold;
    border: 5px outset #1C6EA4;
    border-radius: 10px 10px 10px 10px;
}